body {
  background-color: rgb(237, 242, 246);
  text-align: center;
  margin: 0;
  
}

header {
  padding: 20px;
  font-size: larger;
}

nav {
  padding: 10px 0;
  font-size: 1.2em;
}

nav a {
  text-decoration: none;
  color: #040404;
  margin: 0 15px;
}

nav a:hover {
  color: #a5a5a5;
}


.image-link {
  position: relative;
  display: inline-block;
  margin: 20px;
}

.image-link img {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 4px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.image-link:hover img {
  transform: scale(1.08);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

.hover-box {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 10px);
  width: 200px;
  background: white;
  border: 1px solid #a5a5a5;
  padding: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s ease;
  z-index: 10;
}

.image-link:hover .hover-box {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, 0);
}


.textbox2 {
  max-width: 600px;
  margin: 20px auto;
  padding: 15px;
  font-size: 17px;
  line-height: 1.5;
 
  
}

.project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  margin: 30px 10px;
}

.project-container .image-link {
  flex: 1 1 300px;
}

.project-container .textbox2 {
  flex: 1 1 300px;
  text-align: left;
}
